//
// testi.scss
//

.review {
    .content {
        .icons { 
            position: absolute;
            top: 4%;
            right: 4%;
            opacity: 0.07;
        }
    }
    .review-icon {
        position: absolute;
        top: -20px;
        right: 0;
        opacity: 0.2;
    }
}

.owl-theme {
    .owl-dots {
        .owl-dot {
            span {
                background: transparent;
                transition: all 0.5s ease;
                background: rgba($primary, 0.6) !important;
                height: 6px;
                width: 6px;
            }
        }
        .owl-dot.active span, 
        &.clickable .owl-dot:hover span {
            background: $primary !important;
            height: 6px;
            width: 18px;
        }
    }
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

//Slick slider
.slick-slider, .review, .cta-review {
    overflow-x: hidden !important;
    cursor: pointer;
}

.testi-hero {
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        left: 10%;
    }
}